
<a href="/"> <h4> Home </h4> </a>


<form action="/decrypt_create" method="post">
  <input type="text" name="message"/>
  <input type="submit" value="message" placeholder="submit for decryption"/>
</form>

<a href="/encrypt_new"> <p> Want to encrypt your message instead? </p> </a>
