
<a href="/"> <h4> Home </h4> </a>

<form action="/encrypt_create" method="post">
  <input type="text" name="message"/>
  <input type="submit" value="message" placeholder="submit for encryption"/>
</form>

<a href="/decrypt_new"> <p> Want to decrypt your message instead? </p> </a>
