
<p> You're at the root of a basic caeser cipher app </p>

<section>
  <p> Go <a href="/encrypt_new"> here </a> to encrypt your message </p>
  <p> Or go <a href="/decrypt_new"> here </a> to decrypt your message </p>
</section>
